<div>
   <div class="rankingHeader"><h2 ng-bind="ctrl.cityName"></h2><b>Top ten real estate agents for {{ctrl.cityName}}</b></div>
   <div ng-click="ctrl.getEstates()">
		<label for="gardenCheckbox">with garden</label>
		<input type="checkbox" ng-model="ctrl.withGarden" />
   </div>
   
   <div class="rankingList">
      <ul>
         <li ng-repeat="agent in ctrl.agents" >
            <h4>{{agent.agentName}}</h4>
			<i class="agentId">ID:{{agent.agentId}}</i>
			<b class="agentAmount">{{agent.amount}}</b>
         </li>
      </ul>
   </div>
</div>